.container{
  margin: 12px 12px;
}

.card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  
  
}
.item{
  padding: 8px;
  border: solid #ffd700;
  border-radius: 6px;
}

.item h5 {
  padding: 4px;
  margin: 0px;
}


.card-content{
  display: flex;
  justify-content: space-between;
  padding: 2px 6px;
  
}
.card-image{
  
  height: 260px;
  width: 260px;
  background: rgb(206,202,193);
  background: radial-gradient(circle, rgba(206,202,193,0.916579131652661) 0%, rgba(215,206,202,1) 100%);
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  will-change: box-shadow,transform;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.card-image:hover {
      box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
      transform: translateY(-2px);
  }
.card-image:active{
      box-shadow: inset 0px 3px 7px #d6d6e7;
      transform: translateY(2px);
  }

@media (max-width: 500px) {
  .card { 
    grid-template-columns: repeat(1, 1fr);
    align-item: center;
  
  }
  .card-content{
    border: none;
    justify-content: start;
  }
  
}
@media (max-width: 720px){
  .card { 
    grid-template-columns: repeat(2, 1fr);
    align-item: center;
  }
}
/* @media (max-width: 737px){
  .card { 
    grid-template-columns: repeat(3, 1fr);
    align-item: center;
  }
} */
.buttom-card{
  margin: 8px 0px;
  padding: 4px;
}


.item button{
  width: 100%;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: rgb(72, 76, 122);
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background: rgb(0,122,90);
  background: linear-gradient(321deg, rgba(0,122,90,0.636467086834734) 21%, rgba(255,215,0,0.6756827731092436) 100%);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
}
.item button:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}