.event-container{
  display: flex;
  padding: 28px;
  justify-content: center;
  align-items: center;
  margin: 32px 142px;
  background-color: #ffd8076b;
  border-radius: 56px;
  color: #6e6868;
}

.event-content{
  line-height: 1.6;
}
.event-content span{
  color:  #007a5a;
}
.event-container img{
  width: 180px;
  height: 100%;
  
}


.event-content button{
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 12px;
  cursor: pointer;
  font-weight: 600;
  color: #007a5a;
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#fff,#f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
}
.event-container button:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

.second-section{
  display: flex;
  margin: 24px;
  color: #6e6868;
  /* border: solid black; */
  justify-content: space-evenly;
  align-items: center;
  padding: 18px;
  line-height: 1.6;

  
}
.second-section h2{
  padding: 6px;
}

.images .first-image{
  width: 260px;
  border: solid white;
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  
}
.images .second-image{
  border: solid white;
  width: 220px;
  height: 220px;
  top: 18px;
  /* height: auto; */
  position: relative;
  z-index: 1;
  left: 52px;
  box-shadow: none;
}
.second-section .second-content{
  width: 40%;
}