.second-section{
  display: flex;
  margin: 42px 24px;
  color: #6e6868;
  justify-content: space-evenly;
  align-items: center;
  padding: 18px;
  line-height: 1.6;

  
}
.second-section h2{
  padding: 6px;
}

.images .first-image{
  width: 260px;
  border: solid white;
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  
}
.images .second-image{
  border: solid white;
  width: 220px;
  height: 220px;
  top: 18px;
  position: relative;
  z-index: 1;
  left: 52px;
  box-shadow: none;
}
.second-section .second-content{
  width: 40%;
}

.third-section {
  text-align: center;
  margin: 42px 28px;
  
}

.third-section img{
  width: 10%;
  
}
.third-section-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-flip{
  transform: scaleX(-1);
}

.fourth-section img{
  width: 30%;
  border: solid white;
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}
.fourth-section{
  display: flex;
  margin: 32px 24px;
  padding: 18px;
  justify-content: space-evenly;
  align-items: center;
}

.fourth-section-content{
  width: 45%;
}

.fourth-section-content button{
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 12px;
  cursor: pointer;
  font-weight: 600;
  /* color: #007a5a; */
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#fff,#f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
}
.fourth-section-content button:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

@media (max-width: 600px){
  .second-section{
    flex-direction: column;
    justify-content: center;
  }
  .second-section .second-content{
    width: 100%;
  }
  .images .first-image{
    display:none;
  }
  .images .second-image{
    position: relative;
    left: 14px;
  }
  .fourth-section{
    flex-direction: column;
    justify-content: center;
  }
  .fourth-section-content{
    width: 100%;
  }
  .fourth-section img{
    width:40%;
  }
}